#contenedor,
#register {
  background-color: #121212;
}

#register input,
#register textarea {
  background-color: #dedede;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 5px rgba(250, 250, 250, 0.3);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

img.swiper-slide {
  display: block;
  height: 600px;
  object-fit: cover;
}

.w-18 {
  width: 18rem;
}
