#calc{
    text-align: center;
    color: ghostwhite;
    width: 600px;
    background-color: green;
    font-size: 15px;
}

#btn{
    background-color: green;
}

#imagen{
    width: 50px;
}

.h2{
    color: green;
}